<form>

    <legend class="uk-legend">Exportieren</legend>

    <div class="uk-form-select">
        <label for="exportOption">Dateiformat: </label>
        <select id="exportOption" name="exportOption" class="form-control" [(ngModel)]="exportOption">
            <option value="CSV">CSV</option>
            <option value="JSON">JSON</option>
            <option value="QIF">QIF</option>
        </select>
    </div>



    <div *ngIf="errorMessage" class="uk-alert-danger" uk-alert>
        <p>{{ errorMessage }}</p>
    </div>

    <p class="uk-button-group">
        <button (click)="close()" class="uk-button uk-button-default">Abbrechen</button>
        <button (click)="submit()" class="uk-button uk-button-primary">Exportieren</button>
    </p>

</form>