<div class="uk-container uk-padding">

    <h1 class="uk-heading-line uk-text-center"><span>0.9.33</span></h1>
    <dl class="uk-description-list">
        <dt>Fehlerbehebungen</dt>
        <dd>Bugfix: Anpassunge API-Schnittstelle (leere Transaktionen).</dd>
    </dl>

    <h1 class="uk-heading-line uk-text-center"><span>0.9.26</span></h1>
    <dl class="uk-description-list">
        <dt>Fehlerbehebungen</dt>
        <dd>Bugfix: Datum wird nicht mehr angezeigt.</dd>
    </dl>

    <h1 class="uk-heading-line uk-text-center"><span>0.9.25</span></h1>
    <dl class="uk-description-list">
        <dt>Dauerauftrage</dt>
        <dd>Aktualisierung Zertifikat.</dd>
    </dl>

    <h1 class="uk-heading-line uk-text-center"><span>0.9.24</span></h1>
    <dl class="uk-description-list">
        <dt>Fehlerbehebungen</dt>
        <dd>Problem beim Login / Logout behoben.</dd>
        <dd>Aktualisierung der verwendeten Bibliotheken.</dd>
    </dl>

    <h1 class="uk-heading-line uk-text-center"><span>0.9.23</span></h1>
    <dl class="uk-description-list">
        <dt>Fehlerbehebungen</dt>
        <dd>Aktualisierung der verwendeten Bibliotheken.</dd>
        <dd>Verschiedene kleinere Fehlerbereinigungen.</dd>
    </dl>
    
    <h1 class="uk-heading-line uk-text-center"><span>0.9.22</span></h1>
    <dl class="uk-description-list">
        <dt>Überweisungen</dt>
        <dd>Autovervollständigung von Empfänger und IBAN.</dd>

        <dt>Fehlerbehebungen</dt>
        <dd>Kleineren Rundungsfehler bei Transaktionen behoben.</dd>
    </dl>

    <h1 class="uk-heading-line uk-text-center"><span>0.9.21</span></h1>
    <dl class="uk-description-list">
        <dt>Überweisungen</dt>
        <dd>Noch nicht abgeschlossene Überweisungen "In Ausführung" werden nun angezeigt.</dd>
    </dl>

    <h1 class="uk-heading-line uk-text-center"><span>0.9.20</span></h1>
    <dl class="uk-description-list">
        <dt>Fehlerbehebungen</dt>
        <dd>Gelegentlich liefert die Schnittstelle Duplikate, diese werden nun entfernt.</dd>
    </dl>

    <h1 class="uk-heading-line uk-text-center"><span>0.9.19</span></h1>
    <dl class="uk-description-list">
        <dt>Export</dt>
        <dd>Transaktionen lassen sich als CSV, JSON oder QIF exportieren.</dd>

        <dt>Suche und Limit</dt>
        <dd>Die Transaktionen können nun gefiltert werden.</dd>
    </dl>

    <h1 class="uk-heading-line uk-text-center"><span>0.9.18</span></h1>
    <dl class="uk-description-list">
        <dt>Änderungsübersicht</dt>
        <dd>Durch einen Klick auf die Versionsnummer wird diese Übersicht der letzten Änderungen angezeigt.</dd>

        <dt>Design</dt>
        <dd>Kleinere Designanpassungen.</dd>

        <dt>Transaktionen</dt>
        <dd>Es werden nun alle Transaktionen angezeigt. Doppelklick auf eine Transaktion zeigt deren Detailinformationen an.</dd>
    </dl>

    <h1 class="uk-heading-line uk-text-center"><span>0.9.17</span></h1>

    <dl class="uk-description-list">
        <dt>Transaktionen</dt>
        <dd>Die 50 letzten Transaktionen werden angezeigt.</dd>

        <dt>Überweisungen</dt>
        <dd>Die Unterstützung für einfache Überweisungen und die Bestätigung über eine TAN ist implementiert.</dd>

        <dt>Zugangsdaten</dt>
        <dd>Die Zugangsdaten werden in jedem Betriebsystem in einem dafür vorgesehenen Bereich verschlüsselt gesichert.
            Auf dem Mac in der Keychain, in Linux durch Secret Service API/libsecret und auf Windows im Credential Vault.</dd>
    </dl>

</div>
